#preloader-logo__spinder {
    width: 75%;
    height: 75%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


.selectpicker + button {
    background-color: white !important;
    border: 1px solid #ced4da !important;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out !important;
    color: #495057!important;
}

.selectpicker + .dropdown-toggle:focus{
    outline: none !important;
    box-shadow: none !important;
}

.selectpicker + .dropdown-menu li a:hover {
    color: #ffffff;
    text-decoration: none !important;
    background-color: #000000 !important;
}

.datepicker {
    border: 1px solid #ced4da !important;
}

.datepicker table{
    margin: 0px 5px !important;
}

.datepicker table tr td.today{
    background-image: linear-gradient(to bottom,#0156a5,#3dc8ff) !important;
}


/* Avatar Upload and Preview */
.avatar-upload {
    position: relative;
    max-width: 50%;
    margin: 20px auto;
}

.avatar-upload .avatar-edit {
    position: absolute;
    right: 12px;
    z-index: 1;
    top: 10px;
}

.avatar-upload .avatar-edit input{
    display: none
}

.avatar-upload .avatar-edit input{
    display: none
}

.imageUpload i{
   font-size:2rem;
   color:rgb(5, 139, 228);
}
.avatar-upload .avatar-edit label {
    display: inline-block;
    width: 34px;
    height: 34px;
    margin-bottom: 0;
    border-radius: 100%;
    background: #FFFFFF;
    border: 1px solid transparent;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    font-weight: normal;
    transition: all .2s ease-in-out;
}

.avatar-upload .avatar-edit input:hover {
    background: #f1f1f1;
    border-color: #d6d6d6;
}

.avatar-upload .avatar-edit label:hover {
    background: #f1f1f1;
    border-color: #d6d6d6;
}

.avatar-preview {
    width: 192px;
    height: 192px;
    position: relative;
    border-radius: 5px;
    border: 6px solid #00aeff2c;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}

.avatar-preview  div {
        width: 100%;
        height: 100%;
        border-radius: 5px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
/* Avatar Upload and Preview */

.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #b8b9bb !important;
    font-style: italic !important;
    opacity: 1 !important;
}

.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #b8b9bb !important;
    font-style: italic !important;
}

.form-control::-ms-input-placeholder { /* Microsoft Edge */
    color: #b8b9bb !important;
    font-style: italic !important;
}