.card{
    margin: 15% 0%;
  }
  .card-img-top {
    width: 170px;
    height: 170px;
    padding: 20px;
    position: absolute;
  }
  /* ứng viên */
  .card-body.card-body--uvien {
    padding-left: 180px; 
  }
  .card-body.card-body--uvien h4 {
    color: rgb(0, 102, 255);
    font-size: 22px; 
  }
  .card-body.card-body--uvien a {
    text-decoration: none;
    color: white;
  }
  .btn-login_uvien {
    background-color: rgb(0, 102, 255);
  }
  .card-body.card-body--uvien p {
    font-size: 14px;
    line-height: 15px;
  }
  .btn-login_uvien:hover {
    background-color: rgb(2, 74, 182);
  }
  .card-uvien:hover{
    background: #fff;
    box-shadow: 0px 0px 2px rgba(7, 51, 197, 0.5);
  }
  
  
  /* nhà tuyển dụng */
  .card-body.card-body--ntd {
    padding-left: 180px; 
  }
  .card-body.card-body--ntd h4 {
    color: rgb(241, 55, 55);
    font-size: 22px; 
  }
  .card-body.card-body--ntd p {
    font-size: 14px;
    line-height: 15px;
  }
  .far.fa-check-circle {
    margin-right: 5px;
    color: rgb(122, 255, 173);
  }
  .card-body.card-body--ntd a {
    text-decoration: none;
    color: white;
  }
  .btn-login_ntd {
    background-color: rgb(224, 104, 35);
  }
  .btn-login_ntd:hover {
    background-color: rgb(182, 67, 1);
  }
  .card-ntd:hover{
    background: #fff;
    box-shadow: 0px 0px 2px rgba(7, 51, 197, 0.5);
  }
   /* thống kê */
   /* .row-signup {
    padding: 20px;
    margin: 15px;
    height: 100px;
    text-align: center;
    background-color: rgb(250, 174, 61);
}
.row-signup h3 {
    color: white;
}
.row-signup p {
    color: white;
} */