<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <!--Carousel Wrapper-->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!-- Gallery -->
<div class="container">
  <div class="row">
    <div class="col-lg-2 col-md-4 col-sm-6" data-toggle="modal" data-target="#modal">
      <a href="#lightbox" data-slide-to="0"><img src="https://dummyimage.com/160x120/000000/fff.png&text=Photo+1" class="img-thumbnail my-3"></a>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6" data-toggle="modal" data-target="#modal">
      <a href="#lightbox" data-slide-to="1"><img src="https://dummyimage.com/160x120/000000/fff.png&text=Photo+2" class="img-thumbnail my-3"></a>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6" data-toggle="modal" data-target="#modal">
      <a href="#lightbox" data-slide-to="2"><img src="https://dummyimage.com/160x120/000000/fff.png&text=Photo+3" class="img-thumbnail my-3"></a>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6" data-toggle="modal" data-target="#modal">
      <a href="#lightbox" data-slide-to="3"><img src="https://dummyimage.com/160x120/000000/fff.png&text=Photo+4" class="img-thumbnail my-3"></a>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6" data-toggle="modal" data-target="#modal">
      <a href="#lightbox" data-slide-to="4"><img src="https://dummyimage.com/160x120/000000/fff.png&text=Photo+5" class="img-thumbnail my-3"></a>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6" data-toggle="modal" data-target="#modal">
      <a href="#lightbox" data-slide-to="5"><img src="https://dummyimage.com/160x120/000000/fff.png&text=Photo+6" class="img-thumbnail my-3"></a>
    </div>
    
  </div>
</div>
</body>
</html>