.header__menu__right{
    position: relative;
}

.header__logo img{
    width: 50%;
}

#login-btn-employer{
    position: absolute;
    top: 50px;
    left: 0;
    padding: 10px 12px;
    background-color:#29baff;
    color:#000000;
}

#login-btn-job_seeker{
    position: absolute;
    top: 98px;
    left: 0;
    padding: 10px 41px;
    background-color:#29baff;
    color:#000000;
}

