/* catalog */
.container-catalog--top {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.container-catalog--top a {
   text-decoration: none;
   color: rgb(5, 58, 128);
   font-weight: bold;
   font-size: 15px;
}
.card-text--catalog {
    font-style: italic;
}

.card.promoting-card {
    width: 250px;
}
.rounded-circle {
    height: 50px;
    width: 50px;
}
.rounded-circle--bottom {
    margin: 1px;
    margin-top: 10px;
    margin-left: -10px;
    height: 30px;
    width: 30px;
}
.card.promoting-card-bottom {
    width: 50px;
}
/* end catalog */