.page-footer {
    background-color: #1c375d;
}
.page-footer__bottom {
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    
}
.footer-img {
    max-width: 243px;
    margin-top: 80px;
    
}
.text__info a {
    
    color: #fff;
    text-decoration: none;
}
.text__info a:hover {
    color: #1b82f8;
    /* font-weight:bold; */
}
.text__info--address {
    color : orange;
}

.btn-floating--fb:hover {
    color: #ffffff;
    background-color: #1b82f8;
}
.btn-floating--tw:hover {
    color: #ffffff;
    background-color: #1bf8db;
}
.btn-floating--gg:hover {
    color: #ffffff;
    background-color: rgb(228, 74, 74);
}
.btn-floating--link:hover {
    color: #ffffff;
    background-color: rgb(74, 205, 228);
}

.fas {
    color: orange;
}