:root {
    --White: #fafafa;
    --Origan: #f38121;
    --Blue-white: #006caa;
}

.view-more fas-fa {
    color: var(--Blue-white);
}

.slide.heading-3 {
    padding-top: 10px
}


/* content */

.entry .content {
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    height: 72px;
    overflow: hidden;
    color: #5d677a;
    font-size: 16px;
    font-weight: 400;
    text-overflow: ellipsis;
    padding: 0px 20px;
}

.entry .view-more {
    padding: 0px 20px 10px;
}


/*chữ trên header chính*/

.blog-text-header h3 {
    text-align: center;
    font-weight: 900px;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;
    color: var(--Blue-white);
}

.slider-text .breadcrumbs {
    font-size: 12px;
    letter-spacing: 1px;
    margin-bottom: 20px;
    z-index: 99;
    text-transform: uppercase;
    font-weight: 500 !important;
    letter-spacing: 2px;
}

.slider-text .breadcrumbs span {
    color: rgba(255, 255, 255, 0.9);
}

.slider-text .breadcrumbs span a {
    color: #fff;
}

.slider-text .bread {
    font-size: 50px !important;
    font-weight: 700;
    color: #fff !important;
}


/* title header */

.td-block-title-wrap {
    position: relative;
    box-sizing: border-box;
}

.td-block-title {
    margin: 12px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 21px;
    font-weight: bold;
    text-transform: uppercase;
}

.td-block-title a {
    display: inline-block;
    color: var(--Origan);
}

.bg-light {
    background: #FAFAFA !important;
}

.bg-primary {
    background: #206dfb;
}

.btn {
    cursor: pointer;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.btn:hover,
.btn:active,
.btn:focus {
    outline: none;
}

.category {
    padding: 0;
}

.category li {
    list-style: none;
    margin-bottom: 0px;
    font-size: 22px;
    font-weight: 400;
}

.category li a {
    display: block;
    color: #1a1a1a;
    border-bottom: 1px solid #ffefdb;
    padding: 10px 15px 10px 0;
    position: relative;
}

.form-control {
    height: 52px !important;
    background: #fff !important;
    color: #000000 !important;
    font-size: 15px;
    border-radius: 5px;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.form-control:focus,
.form-control:active {
    border-color: #000000;
}

textarea.form-control {
    height: inherit !important;
}

.ftco-section {
    padding: 2em 0;
    position: relative;
    background-color: #FAFAFA;
}

.entry {
    background-color: white;
    margin: 15px 0px;
    box-shadow: 0px 0px 9px 0px lightgrey;
}

a {
    text-decoration: none !important;
}

.view-number p {
    color: gray;
    font-size: 13px;
}

.blogtext-center {
    background-color: white;
    padding: 22px 35px;
    border-radius: 5px;
    box-shadow: 0px 0px 9px 0px lightgrey;
}

.blog-detail-text h5 {
    font-weight: 600;
}

.blog-detail-text p {
    font-size: 17px;
    line-height: 160%;
    font-weight: 400;
    margin-bottom: 15px;
    ;
}

.blog-title-text-center h2 {
    font-size: 35px;
    line-height: 150%;
    font-family: "Merriweather", serif;
    font-weight: 700;
    margin-bottom: 15px;
}

.heading-section .subheading {
    font-size: 12px;
    display: block;
    margin-bottom: 0px;
    color: #206dfb;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.heading-section h2 {
    font-size: 38px;
    font-weight: 500;
}

.heading-section.heading-section-white .subheading {
    color: rgba(255, 255, 255, 0.9);
}

.heading-section.heading-section-white h2 {
    color: #fff;
}

.heading-section.heading-section-white p {
    color: rgba(255, 255, 255, 0.9);
}

.img,
.img,
.user-img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.block-9 .form-control {
    outline: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    font-size: 15px;
}

.block-20 {
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 150px;
    position: relative;
    display: block;
}

.entry .text {
    position: relative;
    border-top: 0;
    border-radius: 2px;
    padding: 0px 14px;
}

.entry .text .heading {
    font-size: 18px;
    margin-bottom: 16px;
}

.entry .text .heading a {
    color: #000000;
    font-weight: 550;
}

.entry .text .heading a:hover,
.entry .text .heading a:focus,
.entry .text .heading a:active {
    color: #206dfb;
}

.entry .text .meta-chat {
    color: #b3b3b3;
}

.entry .text .read {
    color: #000000;
    font-size: 14px;
}

.entry .meta>div {
    display: inline-block;
    margin-right: -4px;
    font-size: 11px;
    text-transform: uppercase;
    color: dimgray;
    padding: 5px;
}

.entry .meta>div a {
    color: dimgray;
    font-size: 10px;
}

.entry .meta>div a:hover {
    color: #cccccc;
}

.block-27 ul {
    padding: 0;
    margin: 0;
}

.block-27 ul li {
    display: inline-block;
    margin-bottom: 4px;
    font-weight: 400;
}

.block-27 ul li a,
.block-27 ul li span {
    color: #206dfb;
    text-align: center;
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    border: 1px solid #b6cffe;
}

.block-27 ul li.active a,
.block-27 ul li.active span {
    background: #206dfb;
    color: #fff;
    border: 1px solid transparent;
}

.block-21 .img {
    display: block;
    height: 80px;
    width: 80px;
}

.block-21 .text {
    width: calc(100% - 100px);
}

.block-21 .text .heading {
    font-size: 13px;
    font-weight: 300;
}

.block-21 .text .heading a {
    color: #000000;
}

.block-21 .text .heading a:hover,
.block-21 .text .heading a:active,
.block-21 .text .heading a:focus {
    color: #206dfb;
}

.block-21 .text .meta>div {
    display: inline-block;
    font-size: 11px;
    margin: 5px;
}

.block-21 .text .meta>div a {
    color: gray;
}


/* Blog*/

.post-info {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    letter-spacing: .1em;
}

.post-info>div {
    display: inline-block;
}

.post-info>div .seperator {
    display: inline-block;
    margin: 0 10px;
    opacity: .5;
}

.search-form .form-group {
    position: relative;
}

.sidebar .heading-section h2 {
    font-size: 24px;
    font-weight: 500;
}

.sidebar-box .heading-sidebar {
    font-size: 19px;
}

.sidebar-box .border {
    border: 1px solid rgba(0, 0, 0, 0.08) !important;
}

.sidebar-box .text h3 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 0;
}

.sidebar-box .text h3 a {
    color: #000000;
}

.fas-blog-detail i {
    font-size: 14px;
    color: var(--Blue-white)
}

.sidebar-box .text p .number {
    font-size: 16px;
    background: #fed8a9;
    color: #fff;
    padding: 2px 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
}

.categories {
    background-color: #FAFAFA;
    border-radius: 5px;
    box-shadow: 0px 0px 9px 0px lightgrey;
    margin: 65px 0px;
}

.categories-detail {
    padding: 10px 10px 1px;
}

.sidebar-box {
    margin-bottom: 30px;
    font-size: 15px;
    width: 100%;
    background-color: #FAFAFA;
}

.sidebar-box *:last-child {
    margin-bottom: 0;
}

.sidebar-box h3.heading-2 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 15px;
}

.sidebar-box h3.heading-3 {
    font-size: 17px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;
    background-color: #D9E6ED;
    color: var(--Origan)
}

.entry {
    border-radius: 5px 5px;
}

.entry .block-20 {
    border-radius: 5px 5px 0px 0px;
}

.categories li,
.sidelink li {
    position: relative;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #dee2e6;
    list-style: none;
}

.categories li:last-child,
.categories li a,
.sidelink li a {
    display: block;
    color: #1a1a1a;
}

.categories li a span,
.sidelink li a span {
    position: absolute;
    right: 0;
    top: 0;
    color: gray;
}

.categories li.active a,
.sidelink li.active a {
    color: #000000;
    font-style: italic;
}

.blogtext-center {
    text-align: justify;
    text-justify: inter-word;
    margin: 15px 0px
}

.heading a {
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 20px;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    margin-right: 5px;
    margin: 5px;
}

.fas {
    font-size: 19px;
}

.blog-detail-header-content a {
    color: var(--Blue-white);
}

.card-header fas {
    color: var(--Origan);
}


/*  */

ul.breadcrumb {
    padding: 1px 1px;
    list-style: none;
    background-color: white;
}

ul.breadcrumb li {
    display: inline;
    font-size: 15px;
}

ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

ul.breadcrumb li a {
    color: var(--Blue-white);
    text-decoration: none;
}

.col-md-3-left {
    margin: -50px 0px;
}


/*  */

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}